.form-control {
    background-color: #f5f5f5;
    border: 2px solid #999;
    border-radius: 6px;
    padding: 10px;
}

.form-control:focus {
    background-color: white;
    border-color: #333;
    box-shadow: none;
}
